<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>
            <a href="/MemberForm">Member Form</a>
            <a href="/memberList">Member List</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>

</body>
</html>